/* .pay-data_main-container {
  margin: 100px 0 100px 84px;
  ;
} */

.pay-data {
  width: 960px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

.pay-data-personal_header, .pay-data-payType_header {
  /* width: 958px; */
  /* height: 72px; */
  background-color: #F9F9F9;
  border-bottom: 1px dashed #928F94;
  /* margin-top: 35px; */
  padding-top: 40px;
  padding-bottom: 35px;
}

.pay-data-title,
.phone-title,
.email-title,
.payType-checkbox-container,
.payType_list,
.pay-button,
.payType-checkbox-container p {
  display: flex;
  align-items: center;
}

.pay-data-title {
  /* width: 338px;
  height: 37px; */
  font-size: 30px;
  color: #292929;
  margin-left: 35px;
}

.passenger-phoneAndEmail-selector-container {
  padding-top: 50px;
}

.phone-title,
.email-title {
  padding-bottom: 10px;
}

.phone-field,
.email-field {
  font-size: 16px;
  color: #928F94;
  /* padding-top: 50px; */
  margin-left: 35px;
}

.email-field {
  margin-top: 35px;
  /* margin-bottom: 85px; */
}

.passenger-phoneAndEmail-selector-container input {
  width: 360px;
  height: 50px;
  border: 1px solid #928F94;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 24px;
  color: #292929;
  margin-right: 25px;
  padding-left: 15px;
}

/* .pay-data-payType_header {
  width: 958px;
  height: 72px;
  border-top: 1px solid #928F94;

  padding: 35px 0 0 0;
} */

.pay-data-form {
  /* padding-top: 35px; */
  padding-bottom: 85px;
  border-bottom: 1px dashed #928F94;
}

/* .pay-button {
  width: 323px;
  height: 60px;
  background: #FFA800;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 68px;
  margin: 50px 0px 25px auto;
} */

.payType-checkbox-container {
  font-size: 24px;
  align-items: end;
  color: #928F94;
  /* border-top: 1px dashed #928F94; */
  padding: 40px 0 30px 35px;
}

.payType-checkbox-container label {
  position: relative;
  display: flex;
  padding-left: 50px;
}

.payType-checkbox {
  width: 0;
  height: 0;
}

.checkbox-element{
  position: absolute;
  left: 0;
  display: flex;
  width: 28px;
  height: 28px;
  background-color: #FFFFFF;
  border: 1px solid #928F94;
  box-sizing: border-box;
  border-radius: 5px;
}

.pay-data-payType_form input:checked+.checkbox-element {
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFA800;
  box-sizing: border-box;
  border-radius: 5px;
}

.pay-data-payType_form input:checked~span {
  color: #FFA800;
}

.cash {
  padding-bottom: 80px;
  border-top: 1px dashed #928F94;
}

.payType_list {
  list-style: none;
  font-weight: bold;
  font-size: 24px;
  color: #292929;
  justify-content: space-around;
  padding: 0 0 80px 0;
  margin: 0;
}

.payType_list li:hover {
  color: #FFA800;
}